# Windows / IDE
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
Pipfile.lock

# Node/React
node_modules/
build/
dist/
*.log

# Docker
*.tar

# Coverage
coverage/
.coverage
